footer#footer.footer.colorsbg
  .container
    .row
      .col-md-12.col-sm-6.col-xs-12
        .copyright.text-left
          p
            i.fa.fa-copyright
            |  2017 Student Driving Ltd.  All rights reserved.
            | Registered company number ######. Registered office: Insert your address here.