.navbar-default {
  background-color: rgba(255, 255, 255, 1);
  border-color:0;
}

.navbar {
  height:105px;
  margin-bottom:0;
  border:0;
  border-radius:0;
}

.navbar-default .navbar-nav>li>a {
  font-size:14px;
  text-transform:uppercase;
  color:#414141;
  line-height: 70px;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#ff5151;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #ff5151;
  background-color: transparent;
  border-top: 3px solid #ff5151;
}

.is-visit {
  color: #ff5151;
  background-color: transparent;
  border-top: 3px solid #ff5151;
}