.register {
  background-color: #f9f9f9;
  padding-top: 130px;
}

.register-form {
  background-color: #f9f9f9;
  padding-bottom: 130px;
}

.year-req {
  label:first-child {
    margin-right: 40px;
  }
}

.send-wrapper {
  margin-top: 30px;
}

.reg-details {
  color: #ff4e51;
  text-transform: uppercase;
}

.account-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 35px;
  label {
    font-size: 15px;
  }
}

.find-them {
  font-size: 18px;
}

.find-row {
  margin: 40px 0;
}

.login {
  padding-bottom: 80px;
}