extends layout

block content
  section.register
    .container
      .row
        .col-md-12
          h1.text-center
            | Register for a free account
  section.register-form
    .container
      .row
        .col-md-offset-2.col-md-10
          h3.reg-details
            | Who are you inviting?
    .container
      form.account-form(id='signup-form', method='get', action='/login')
        input(type='hidden', name='_csrf', value=_csrf)
        .row
          .col-md-offset-2.col-md-10
            .form-group
              .radio.year-req
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='option1')
                  | Friend
                label.teacher
                  input#optionsRadios2(type='radio', name='optionsRadios', value='option2')
                  | Family Member
        .row
          .col-md-offset-2.col-md-4
            .form-group
              label(for='exampleInputFirstName') First name
              input#exampleInputFirstName.form-control(type='text')
          .col-md-offset-1.col-md-4
            .form-group
              label(for='exampleInputLastName') Last name
              input#exampleInputLastName.form-control(type='text')
        .row
          .col-md-offset-2.col-md-4
            .form-group
              label(for='exampleInputEmail1') Their email address
              input#exampleInputEmail1.form-control(type='email')
          .col-md-offset-1.col-md-4
            .form-group
              label(for='exampleInputNumber') Contact number
              input#exampleInputNumber.form-control(type='text')
        .row
          .col-md-offset-2.col-md-9
            h5.text-center
              | OR
            p.text-center.find-them
              | Find them on the following social platforms:
        .row.find-row
          .col-md-offset-2.col-md-3
            a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              | Facebook
          .col-md-3
            a.btn.btn-block.btn-linkedin.btn-social(href='/auth/linkedin')
              | LinkedIn
          .col-md-3
            a.btn.btn-block.btn-twitter.btn-social(href='/auth/twitter')
              | Twitter
        .row
          .col-md-offset-2.col-md-9.send-wrapper.text-center
            button.btn.btn-primary.btn-lg(type='submit')
              | Submit



